body {
	background: #f1f1f1;
	color: #222;
	font-family: 'Open Sans', sans-serif;
  }
  
  .wrapper {
	padding: 100px;
	width: 500px;
	display: block;
	text-align: center;
	margin: 0 auto;
  }
  
  .roles {
	  font-size: 30px;
	  height: 50px;
	  vertical-align: middle;
	  overflow: hidden;
  }
  
  .roles div {
	  height: 50px;
	  transition: margin-top 1s ease-in-out;
  }